*.sc
ensime.sbt
compile_run*.sh
compile_run_scalaspl_tests.sh
.ensime_cache/*
*.class
*.cache
*.log
project/*
target/*
project.tgz
src/main/scala/ot/*.ipynb
src/main/.ipynb_checkpoints
src/main/scala/.ipynb_checkpoints
src/main/scala/*.ipynb
.idea/
.bloop/*
.metals/*
*.ipynb
*.tgz
src/main/scala/ot/scalaotl/example/*
MyExample.scala
src/test/resources/temp/
lib_managed/
build/
