spark {
  master = "local"
  appName = "dispatcher (2.4.2)"
}

checkpoints {
  enabled = "false"
  path = "/opt/otp/dispatcher/checkpoints"
  commands_limit = 500
  plan_size_limit = 80000
  use_commands_limit = true
  use_plan_size_limit = true
}

schema {
  external_schema = false
  merge_schema = false
}

jdbc {
  driver = "org.postgresql.Driver"
  url = "jdbc:postgresql://127.0.0.1:5432/dispatcher"
  username = "dispatcher"
  password = "password"
}

kafka {
  computing_node_mode_enabled = false
  ip_address = "localhost"
  port = 9092
}

usercommands {
directory = "/opt/otp/dispatcher/commands"
}

loop {
  pause = 1000 # in millis
  negative_warn_threshold = 10
}

indexes {
  fs_disk = "file:/"
  path_disk = "///opt/otp/indexes/"
  fs_cache = "file:/"
  path_cache = "///mnt/g_flow/indexes/"
  duration_cache = 0
  max_cols = 50
}

memcache {
  fs = "file:/"
  path = "///opt/otp/caches/"
}

lookups {
  fs = "file:/"
  path = "///opt/otp/lookups/"
}

files {
  log_localisation = "/opt/otp/dispatcher/log_localisation.conf"
}

loglevel = "/opt/otp/dispatcher/loglevel.properties"

plugins{
  fs = "file:/"
  path = "/opt/otp/dispatcher/plugins"
}

searches {
  timeout = 600
}

tracker {
  interval = 5
}