driver = "INFO"
visor = "INFO"
calculator = "INFO"
spark = "WARN"
engine = "INFO"
cachemanager = "INFO"
fbcp = "INFO"
appconfig = "INFO"
canceller = "INFO"
tracker = "INFO"
RawRead = "INFO"
FullRead = "INFO"